#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding-left: 2rem;
  text-align: left;
  /* color-scheme: dark; */
  color: rgba(255, 255, 255, 0.87);
}

table {
  font-family: arial, sans-serif;
  /* border-collapse: collapse; */
  border: 1px solid #fffefe;
  /* width: 100%; */
}
thead {
  color: #c7d140;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid #000000 !important;
  text-align: left;
  padding: 7px;
}

tr:nth-child(odd) {
  border: 1px solid #000000;
  background-color: #4b3b3b;
}

tr:nth-child(even) {
  border: 1px solid #000000;
  background-color: #684c4c;
}

p {
  height: fit-content;
  margin-left: 0.5rem;
  margin-bottom: 5px !important;
  color: white;
}

strong {
  color: #c7d140;
}
.device-info {
  overflow: auto;
  font-size: 0.9rem;
  border-radius: 8px;
  background-color: #34352d;
  color:#84c8d4;
  /* border: 3px solid darkgreen; */
  width: 100%;
  max-width: 40rem;
  height:90%;
  padding: 0.3rem;
}

#spinner {
  /* display:none; */
  position:relative;
  width:1.4rem;
  height:1.4rem;
  border-radius:50%;
  border-top: 0.4rem solid transparent;
  border-left: 0.4rem solid red;
  border-right: 0.4rem solid red;
  border-bottom: 0.4rem solid red;
  align-self: center;
  justify-self: center;
  animation: spin 1s linear infinite;
}
  
@keyframes spin {
  100% {transform: rotate(1turn)}; 
}